div, section, aside, html, body, p{
    margin:0;
    padding:0;
    /* border:1px solid black; */
}

.container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    height:100vh;
}

.page-header{
    height:4em;
    width:100%;
    background-color: blue;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.main-body{
    /* border:1px solid red; */
    flex-grow:1;
    flex-basis:100%;

    /* parent flex porperties */
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items: stretch;
    align-content: flex-start;
    height:90%;
}

.main-content{
    flex-basis:60%;
    flex-grow:2;
    flex-shrink:1; /*  default*/
    /* outline:1px solid green; */
    height:100%;
    background-color: green;
}


.aside-content{
    flex-basis: 30%;
    flex-grow:1;
    flex-shrink:1;
    /* outline:1px solid red; */
    height:100%;
    background: red;
}

/* header contnet styles */

.nav-min{
    outline:1px solid black;
    display:inline-block;
    width:2em;
    height:2.5em;
    
}

.nav-min > div{
    width:100%;
    border-bottom:1px solid #fff;
    margin-top:.55em;
}

.logo-div {
    width:15em;
    /* height:2.5em; */
    border:1px solid pink;

}

img.logo{
    width:100%;
}